[defaults]
inventory = make-inventory.sh
private_key_file = ~/.ssh/gcp
public_key_file = ~/.ssh/gcp.pub
remote_user = appuser
host_key_checking = False
retry_files_enabled = False
#remote_tmp = /tmp/.ansible-${USER}/tmp
deprecation_warnings=False
retry_files_enabled = False
roles_path = ./roles
vault_password_file = ~/.ansible/vault.key
[inventory]
#enable_plugins = script
[diff]
# Включим обязательный вывод diff при наличии изменений и вывод 5 строк контекста
always = False
context = 5
