#!/bin/bash

cat > /etc/nginx/sites-available/kubernetes.default.svc.cluster.local <<EOF
server {
  listen 80 kubernetes.default.svc.cluster.local;
  listen [::]:80 kubernetes.default.svc.cluster.local;

  location /healthz {
     proxy_pass                    https://127.0.0.1:6443/healthz;
     proxy_ssl_trusted_certificate /var/lib/kubernetes/ca.pem;
  }
}
EOF

ln -sfn /etc/nginx/sites-available/kubernetes.default.svc.cluster.local /etc/nginx/sites-enabled/default
